[submodule "contrib/curl"]
	path = contrib/curl
	url = https://github.com/curl/curl
[submodule "contrib/libevent"]
	path = contrib/libevent
	url = https://github.com/libevent/libevent
[submodule "contrib/c-ares"]
	path = contrib/c-ares
	url = https://github.com/c-ares/c-ares
[submodule "contrib/nghttp2"]
	path = contrib/nghttp2
	url = https://github.com/lemourin/nghttp2
[submodule "contrib/libressl"]
	path = contrib/libressl
	url = https://github.com/lemourin/libressl
[submodule "contrib/boost/regex"]
	path = contrib/boost/regex
	url = https://github.com/boostorg/regex
